@model IEnumerable<RealEstateSystem.ViewModels.AdvertisigViewModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container" dir="rtl">
    <h1 style="margin-top:130px;">إعلانات مميزة</h1>
    <div>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
    </div>
    <p>
        <a asp-action="Create" class="btn btn-success mt-4" >سارع بإضافةإعلانك</a>
        <a asp-action="index1" class="btn btn-primary mt-4" >قائمة الإعلانات</a>
    </p>
    <hr />


    <!-- ======= Latest News Section ======= -->
    <section class="property-grid grid" style="display: inline;">

        <div class="row">
            @foreach (var ad in Model)
            {
                <div class="col-md-4 mt-4">
                    <div class="card-box-b card-shadow news-box">
                        <div class="img-box-b">
                            <img src="~/Uploads/Advertisings/@ad.ImageURL" alt="" style="height:300px" class="img-b img-fluid">
                        </div>
                        <div class="card-overlay">
                            <div class="card-header-b">
                                <div class="card-category-b">
                                    <a href="#" class="category-b">@ad.Title</a>
                                </div>
                                <div class="card-title-b">
                                    <h4 class="title-2" style="color:white;"> 
                                         المعلن:
                                        <a asp-controller="" asp-action=""> 
                                            @ad.ApplicationUserName
                                            <br>
                                        </a>
                                    </h4>
                                    <div>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                           <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star"></span>
                                        </div>
                                </div>
                                <div class="card-date">
                                    <span class="date-b">@ad.PublishDate</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End carousel item -->
            }
        </div>

        <div class="news-carousel-pagination carousel-pagination"></div>

    </section>

</div>